<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215747317657-u3hcmssboenrpbvfsebj0up2muapderh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215747317657-u3hcmssboenrpbvfsebj0up2muapderh</string>
	<key>API_KEY</key>
	<string>AIzaSyDuAPClVnZCMvKYt1sQGCz28BU0HuATlu8</string>
	<key>GCM_SENDER_ID</key>
	<string>215747317657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppFire</string>
	<key>PROJECT_ID</key>
	<string>test-6cc47</string>
	<key>STORAGE_BUCKET</key>
	<string>test-6cc47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215747317657:ios:b282262fd8c64ca7300d08</string>
</dict>
</plist>